body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.top {
    font-size: 50px;
    position: absolute;
    width: 1000px;
    height: 180px;
    right: 100px;
    left: 100 px;
    top: 198px;

}

.zakat-fund {
    position: absolute;
    text-align: center;
    width: 890px;
    height: 72px;

    left: 250px;
    top: 299px;

}

button {
    background-color: #FF5959;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    position: absolute;
    width: 160px;
    height: 56px;
    left: 656px;
    top: 395px;
}

.banner {
    background-image: url("pictures/cover.png");
    position: absolute;
    width: 1350px;
    height: 490px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.donate {
    position: absolute;
    text-align: center;
    width: 300px;
    height: 10px;
    left: 550px;
    top: 480px;
}

.two {
    align-items: center;

    width: 300px;
    padding-left: 0 10px 10px 0px;
    right: 200px;

}

.four-box {
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
}


.amount {

    display: inline-flex;



}

.box-1 {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    left: 300px;
    top: 730px;

    align-items: center;




}

.box-2 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    left: 480px;
    top: 680px;


    align-items: center;





}

.box-3 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    left: 500px;
    top: 680px;
    align-items: center;



}

.box-4 {

    position: relative;
    text-align: center;
    box-sizing: border-box;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    left: 530px;
    top: 680px;
    align-items: center;



}

.box-5 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    left: 560px;
    top: 680px;
    align-items: center;


}

.other {
    position: absolute;
    width: 192px;
    height: 28px;
    left: 625px;
    top: 760px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;


    text-align: center;

    color: #B3B3B3;

}

.btn-2 {
    background-color: #FF5959;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    position: absolute;
    width: 160px;
    height: 56px;
    left: 648px;
    top: 830px;
}

.definition {

    height: fit-content;
    top: 570px;
    width: 200px;


}

.Third-sec {

    position: absolute;


    font-style: normal;

    color: #121212;
    display: inline;
    top: 880px;

    text-align: center;
    width: 800px;
    left: 330px;




}

.card-1 {

    width: 230px;
    height: 250px;
    left: 0px;
    top: 70px;
    padding: 10px;
    border: 5px;
    gap: 10px;
    position: relative;
    display: inline-block;


    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;


}

.card-2 {
    width: 230px;
    height: 250px;
    left: 10px;
    top: 70px;
    padding: 10px;
    border: 10px;
    gap: 10px;
    position: relative;
    display: inline-block;


    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;

}


.card-3 {
    width: 230px;
    height: 250px;
    left: 15px;
    top: 70px;
    padding: 10px;
    border: 5px;
    gap: 10px;
    position: relative;
    display: inline-block;


    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;


}

.definition {
    text-align: center;
    position: absolute;
    width: 700px;
    height: 900 px;
    left: 400px;
    top: 1000px;
}

.fourth-sec {
    position: absolute;
    width: 450px;
    height: 100px;
    left: 150px;
    margin-top: 1099px;
    margin-bottom: 500px;
    text-align: left;


}



.picture-1 {
    position: relative;
    width: 200px;
    height: 200px;
    left: 600px;
    top: 190px;

}

.btn-3 {
    background-color: #FF5959;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    padding: 5px 10px;
    position: absolute;
    width: 150px;
    height: 56px;
    left: 120px;
    top: 800px;
}